<div class="footer">

  <div class="footer-left">
   <b>&copy <%= new Date().getFullYear() %></b> 
  </div>
  <div class="footer-right">
    <a href="http://www.eatup.ng" target="_blank" rel="noopener noreferrer"><b>eatupng</b></a>
  </div>



  
</div>