<div class="search-container">

  <a href="#"><img src="/images/Search.svg" alt="search icon"></a>
  <form style="width: 100%;"  action="/search" method="post">
  <input type="text" placeholder="search posts and tags" class="search-box input" id="searchInput" name="searchTearm">
  </form>

  <a href="" class="cancel search"><img src="/images/Clear.svg" alt="cancel icon"></a>
</div>